{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs nav-justified">
                <li {% if active_tab == "files" %}class="active"{% endif %}>
                    <a href="{% url "repos:index" repository.owner.username repository.name %}">
                        <i class="icon-code"></i>
                        Files
                    </a>
                </li>
                <li>
                    <a href="#">
                        Commits
                    </a>
                </li>
                <li>
                    <a href="#">
                        Issues
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-cogs"></i>
                        Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% block repository-contents %}{% endblock %}
</div>
{% endblock %}
