{% extends "base.html" %}

{% block css %}
<style type="text/css">
.repository-nav {
    padding-bottom: 1em;
}

.repository-nav > li > a {
    background-color: white !important;
    border: none !important;
    border-bottom: 1px solid lightgrey !important;
    border-radius: 0;
}

.repository-nav > li.active > a {
    border-bottom: 3px solid black !important;
}

.repository-nav > li.active > a:hover {
    cursor: pointer;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs nav-justified repository-nav">
                <li {% if active_tab == "files" %}class="active"{% endif %}>
                    <a href="{% url "repos:index" repository.owner.username repository.name %}">
                        <i class="icon-code"></i>
                        Files
                    </a>
                </li>
                <li {% if active_tab == "commits" %}class="active"{% endif %}>
                    <a href="{% url "repos:commits_list" repository.owner.username repository.name %}">
                        Commits
                    </a>
                </li>
                <li>
                    <a href="#">
                        Issues
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-cogs"></i>
                        Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% block repository-contents %}{% endblock %}
</div>
{% endblock %}
