{% extends "repositories/files_base.html" %}

{% block repository-contents %}
<div class="row">
    <div class="col-lg-12">
        <div class="btn-group">
            <button type="button"
                    class="btn btn-default btn-sm dropdown-toggle"
                    data-toggle="dropdown">
                <span class="branch-label">
                    branch:
                </span>
                {{ current_branch.name }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for branch in git_repository.branches %}
                <li><a href="#">{{ branch.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#" title="{{ repository.head.commit.summary }}">
                    {{ git_repository.head.commit.summary }}
                </a>
            </div>
            <div class="panel-body">
                {{ git_repository.head.commit.author }}
                authored on
                {{ git_repository.head.commit.committed_date }}
            </div>
            
            <table class="table">
                {% for tree, tree_commit, tree_commit_time in trees %}
                <tr>
                    <td>
                        <a title="{{ tree.name }}" href="#">
                            {{ tree.name }}
                        </a>
                    </td>
                    <td>
                        <a href="#" title="{{ tree_commit.summary }}">
                            {{ tree_commit.summary }}
                        </a>
                    </td>
                    <td>
                        {{ tree_commit_time }}
                    </td>
                </tr>
                {% endfor %}
                {% for blob, blob_commit, blob_commit_time in blobs %}
                <tr>
                    <td>
                        <a href="{% url "repos:blob" repository.owner repository.name current_branch.name blob.path %}"
                           title="{{ blob.name }}">
                            {{ blob.name }}
                        </a>
                    </td>
                    <td>
                        <a href="#" title="{{ blob_commit.summary }}">
                            {{ blob_commit.summary }}
                        </a>
                    </td>
                    <td>
                        {{ blob_commit_time }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
