{% extends "repositories/files_base.html" %}

{% block css %}
{{ block.super }}
<style type="text/css">
.commit {
border: 1px solid black;
margin-bottom: 1em;
padding: 6px;
}
.commit-summary-more {
background-color: lightgrey;
color: black;
display: inline-block;
font-size: 12px;
font-weight: bold;
height: 12px;
line-height: 6px;
padding: 0 4px;
text-decoration: none;
vertical-align: middle;
}
.commit-summary-more:hover {
background-color: darkgrey;
color: black;
cursor: pointer;
text-decoration: none;
}
.commit-message {
display: none;
}

.commit-open .commit-message {
display: block;
}
</style>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).on("click", ".commit-summary-more", function () {
$this = $(this);

$commit = $this.parents(".commit");

$commit.toggleClass("commit-open");
});
</script>
{% endblock %}

{% block tree-dropdown-option %}
<li>
    <a href="{% url "repos:commits_list_tree" repository.owner.username repository.name branch.name %}">
        {{ branch.name }}
    </a>
</li>
{% endblock %}

{% block files-contents %}
{% for day, commits_list in commits %}
<div class="panel panel-info">
    <div class="panel-heading">
        {{ day }}
    </div>
    <div class="panel-body">
        {% for commit in commits_list %}
        <div class="commit">
            <div class="commit-hash pull-right">
                <a href="{% url "repos:commit" repository.owner.username repository.name commit.hexsha %}"
                   title="View the commit">
                    {{ commit.shorthash }}
                </a>
            </div>
            <div class="commit-summary">
                <a href="{% url "repos:commit" repository.owner.username repository.name commit.hexsha %}"
                   title="{{ commit.summary }}">
                    {{ commit.summary }}
                </a>
                {% if commit.description %}
                <a class="commit-summary-more"
                   title="Show the commit description">
                    &hellip;
                </a>
                {% endif %}
            </div>
            {% if commit.description %}
            <div class="commit-message">
                <pre>{{ commit.description | linebreaksbr }}</pre>
            </div>
            {% endif %}
            <div class="commit-tree pull-right">
                <a href="{% url "repos:tree_index" repository.owner.username repository.name commit.hexsha %}"
                   title="Browse the code for this commit">
                    Browse code
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
            <div class="commit-author-line">
                {{ commit.author }}
                authored
                <time class="js-relative-time"
                      datetime="{{ commit.committed_time | date:"c" }}">
                    {{ commit.committed_time }}
                </time>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default">
    Previous
</a>
{% endif %}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}" class="btn btn-default">
    Next
</a>
{% endif %}
{% endblock %}
