{% extends "repositories/files_base.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).on("click", ".commit-summary-more", function () {
$this = $(this);

$commit = $this.parents(".commit");

$commit.toggleClass("commit-open");
});
</script>
{% endblock %}

{% block tree-dropdown-option %}
<li>
    <a href="{% url "repos:commits_list_tree" repository.owner.username repository.name branch.name %}">
        {{ branch.name }}
    </a>
</li>
{% endblock %}

{% block content %}
<div ng-view></div>
{% endblock %}
