{% extends "repositories/base.html" %}

{% block css %}
{{ block.super }}
<style type="text/css">
.repository-navigation-row {
margin-bottom: 10px;
}

.tree-dropdown
{
font-weight: 13px;
}

.tree-label
{
color: darkgrey;
}

.tree-name
{
font-weight: bold;
}

.files-breadcrumbs {
background-color: inherit;
display: inline-block;
margin-bottom: 0;
}

.files-breadcrumbs > .active {
color: black;
}
</style>
{% endblock %}

{% block repository-contents %}
{% block navigation-row %}
<div class="row repository-navigation-row">
    <div class="col-lg-12">
        {% block tree-dropdown %}
        <div class="btn-group">
            <button type="button"
                    class="btn btn-default btn-sm dropdown-toggle tree-dropdown"
                    data-toggle="dropdown">
                <span class="tree-label">
                    {{ current_tree_type }}:
                </span>
                <span class="tree-name">
                    {% if current_tree_type == "tree" %}
                    {{ current_tree_name | slice:":7" }}
                    {% else %}
                    {{ current_tree_name }}
                    {% endif %}
                </span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for branch in git_repository.branches %}
                {% block tree-dropdown-option %}
                <li>
                    <a href="{% url "repos:tree_index" repository.owner.username repository.name branch.name %}">
                        {{ branch.name }}
                    </a>
                </li>
                {% endblock %}
                {% endfor %}
            </ul>
        </div>
        {% endblock %}

        {% block breadcrumbs %}
        <ul class="breadcrumb files-breadcrumbs">
            <li>
                <a href="{% url "repos:index" repository.owner.username repository.name %}">
                    {{ repository.name }}
                </a>
            </li>
            {% for name, path in breadcrumbs %}
            {% if forloop.last %}
            <li class="active">
                {{ name }}
            </li>
            {% else %}
            <li>
                <a href="{% url "repos:tree_path" repository.owner.username repository.name current_tree_name path %}">
                    {{ name }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% if commit %}
{% block commit %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            {% block commit-data %}
            <div class="panel-heading">
                <a title="{{ commit.summary }}"
                   href="{% url "repos:commit" repository.owner.username repository.name commit.hexsha %}">
                    {{ commit.summary }}
                </a>
            </div>
            <div class="panel-body">
                {{ commit.author }}
                authored
                <time class="js-relative-time"
                      datetime="{{ commit.committed_time | date:"c" }}">
                    {{ commit.committed_time }}
                </time>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
{% endif %}

{% block files-contents %}{% endblock %}
{% endblock %}
