{% extends "base.html" %}

{% block css %}
<style type="text/css">
    .dashboard-repositories-new {
        font-size: 10px;
        padding: 3px 6px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            News stream
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Your repositories
                    <a href="#"
                       class="btn btn-success pull-right dashboard-repositories-new">
                        <i class="icon-plus"></i>
                        New repository
                    </a>
                </div>

                <div class="list-group">
                    {% for repository in user_repositories %}
                    <a class="list-group-item"
                       href="{% url "repos:index" repository.owner.username repository.name %}">
                        {{ repository.name }}
                    </a>
                    {% empty %}
                    <div class="dashboard-respositories-none">
                        You have no repositories.
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
