{% extends "repositories/base.html" %}

{% block repository-contents %}
<div class="row">
    <div class="col-lg-3">
        {% block settings-sidebar %}
        <ul class="list-group">
                <a href="#" class="list-group-item active">
                    <i class="icon-cogs"></i>
                    Options
                </a>
                <a href="#" class="list-group-item">
                    <i class="icon-group"></i>
                    Collaborators
                </a>
        </ul>
        {% endblock %}
    </div>
    <div class="col-lg-9">
        {% block settings-contents %}

        {% endblock %}
    </div>
</div>
{% endblock %}
