{% extends "repositories/settings/base.html" %}

{% block settings-contents %}
<div class="panel panel-default">
    <div class="panel-heading">
        Settings
    </div>
    <div class="panel-body">
        <label for="id_name">
            Repository name:
        </label>

        <input id="id_name" name="name" class="form-control"
               value="{{ repository.name }}" />

        <button type="button" class="btn btn-default">
            Rename
        </button>
    </div>
    <div class="panel-body">
        <label for="id_default_branch">
            Default branch:
        </label>

        <select name="default_branch" id="id_default_branch"
                class="form-control">
            {% for branch in branches %}
            <option value="{{ branch.name }}"
                    {% if repository.default_branch == branch.name %}
                    selected="selected"{% endif %}>
                {{ branch.name }}
            </option>
            {% endfor %}
        </select>

        <button type="button" class="btn btn-default">
            Change
        </button>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Features
    </div>
    <div class="panel-body">
        <label class="checkbox" for="id_has_issues">
            <input type="checkbox" name="has_issues"
                   {% if repository.has_issues %}checked="checked"
                   {% endif %}/>
            Issues
        </label>
        <div class="help-block">
            Awesome issue tracking.
        </div>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        Dangerous actions
    </div>
    <div class="panel-body">
        {% if repository.is_public %}
        <button class="btn btn-danger pull-right">
            Make private
        </button>
        {% else %}
        <button class="btn btn-danger pull-right">
            Make public
        </button>
        {% endif %}

        <strong>
            Make this repository {% if repository.is_public %}private
            {% else %}public{% endif %}
        </strong>

        <div class="help-block">
            Hide this repository from the public.
        </div>
    </div>
</div>
{% endblock %}
