<form {{ action "authenticate" on="submit" }} class="auth-form">
    <label for="id_identification">
        Username:
    </label>

    {{ input type="text" id="id_identification" class="form-control" value=identification }}

    <label for="id_password">
        Password:
    </label>

    {{ input type="password" id="id_password" class="form-control" value=password }}

    {{#bs-button type="success"}}
        Sign in
    {{/bs-button}}
</form>
