<div class="row">
    <div class="col-lg-9">
        <ul class="breadcrumb repository-breadcrumbs">
            <li ng-repeat="breadcrumb in breadcrumbs"
                ng-class="{active:$last && $index > 1}">
                <span ng-show="$last && $index > 1">
                    {{ breadcrumb.title }}
                </span>
                <a ng-hide="$last && $index > 1"
                   ng-href="{{ breadcrumb.url }}"
                   title="{{ breadcrumb.title }}">
                    {{ breadcrumb.title }}
                </a>
            </li>
        </ul>
    </div>
</div>
