{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {{ gitview.name }}{% endblock %}

{% block extrahead %}
 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block branding %}
<h1 id="site-name">{{ gitview.name }}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
