{% extends "admin/base_site.html" %}

{% load i18n admin_static %}

{% block breadcrumbs %}{% endblock %}

{% block admin-content %}
<div class="col-lg-9">
    {% if app_list %}
    {% for app in app_list %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ app.app_url }}">
                {% blocktrans with name=app.name %}
                {{ name }}
                {% endblocktrans %}
            </a>
        </div>
        
        <ul class="list-group">
            {% for model in app.models %}
            {% if model.admin_url %}
            <a class="list-group-item" href="{{ model.admin_url }}">
                {{ model.name }}
            </a>
            {% else %}
            <li class="list-group-item">{{ model.name }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    {% else %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            {% trans "Warning" %}
            </div>
        <div class="panel-body">
            {% trans "You don't have permission to edit anything." %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div class="col-lg-3">
    <div class="panel panel-info" id="recent-actions-module">
        <div class="panel-heading">
            {% trans 'Recent Actions' %}
        </div>
        {% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
        {% else %}
        <ul class="list-group">
            {% for entry in admin_log %}
            {% if entry.is_deletion or not entry.get_admin_url %}
            <li class="list-group-item">
                {{ entry.object_repr }}
            </li>
            {% else %}
            <a class="list-group-item"
               href="{{ entry.get_admin_url }}">
                <small class="pull-right">
                    {% filter capfirst %}
                    {% trans entry.content_type.name %}
                    {% endfilter %}
                </small>
                {{ entry.object_repr }}
            </a>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
