.repository-breadcrumb {
    font-size: 2em;
    margin-top: 0;
}

.repository-status {
    color: darkgrey;
    position: relative;
}

.repository-label {
    font-size: 12px;
    left: -50px;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
}

.repository-status.private {
    color: khaki;
}

.private .repository-label {
    background-color: khaki;
    color: black;
    left: -70px;
    padding: 3px 6px;
    top: 7px;
}

.repository-breadcrumb-divider {
    color: darkgrey;
}

.repository-nav {
    padding-bottom: 1em;
}

.repository-nav > li > a {
    background-color: white !important;
    border: none !important;
    border-bottom: 1px solid lightgrey !important;
    border-radius: 0;
}

.repository-nav > li.active > a {
    border-bottom: 3px solid black !important;
}

.repository-nav > li.active > a:hover {
    cursor: pointer;
}

.repository-navigation-row {
    margin-bottom: 10px;
}

.tree-dropdown
{
font-weight: 13px;
}

.tree-label
{
color: darkgrey;
}

.tree-name
{
font-weight: bold;
}

.repository-breadcrumbs {
    background-color: inherit;
    display: inline-block;
    margin-bottom: 0;
}

.repository-breadcrumbs > .active {
    color: black;
}
