{% load staticfiles %}

<!doctype html>
<html ng-app="gitView">
    <head>
        <title>
            {% block title %}{% endblock %}
            {{ gitview.name }}
        </title>

        <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" />

        <style type="text/css">
            .navbar-btn { margin-right: 8px; }
            label { display: block; }
            input[type=text],
            input[type=password] { display: block; width: 100%; }
            .form-control { margin-bottom: 15px; }
            .form-error-list { margin-bottom: 5px; padding: 10px; }
            .form-error-list ul { list-style: none; margin: 0; padding: 0; }
        </style>

        {% block css %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-primary-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "index" %}">
                        {{ gitview.name }}
                    </a>
                </div>
                
                <div class="collapse navbar-collapse navbar-primary-collapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_active %}
                        <li><a href="#">Notifications</a></li>
                        {% endif %}
                        {% if user.is_staff %}
                        <li><a href="{% url "admin:index" %}">Admin</a></li>
                        {% endif %}
                    </ul>
                    
                    {% if user.is_active %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url "profile:index" user.username %}">
                                {{ user.username }}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="{% url "auth:logout" %}">
                                <i class="icon-signout"></i>
                                Log out
                            </a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><div>
                                <a href="#"
                                   class="btn btn-success navbar-btn">
                                    Register
                                </a>
                        </div></li>
                        <li><div>
                                <a href="{% url "auth:login" %}"
                                   class="btn btn-primary navbar-btn">
                                    Sign in
                                </a>
                        </div></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        
        <div ng-view>
        {% block content %}{% endblock %}
        </div>

        <script type="text/javascript"
                src="{% static "js/jquery.js" %}"></script>
        <script type="text/javascript"
                src="{% static "js/bootstrap.js" %}"></script>
        <script type="text/javascript"
                src="{% static "js/jquery.timeago.js" %}"></script>

        <script type="text/javascript"
                src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
        <script type="text/javascript"
                src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.min.js"></script>
        <script type="text/javascript"
                src="{% static "js/angular/app.js" %}"></script>
        <script type="text/javascript"
                src="{% static "js/angular/repositories/controllers.js" %}">
        </script>
        <script type="text/javascript"
                src="{% static "js/angular/repositories/services.js" %}">
        </script>

        <script type="text/javascript">
            $(".js-relative-time").timeago();
        </script>
        
        {% block js %}{% endblock %}
    </body>
</html>
