{% load staticfiles %}
{% load compressed %}

<!doctype html>
<html ng-app="gitView">
    <head>
        <title>
            {% block title %}{% endblock %}
            {{ gitview.name }}
        </title>

        {% compressed_css "bootstrap" %}
        {% compressed_css "repositories" %}

        <style type="text/css">
            .navbar-btn { margin-right: 8px; }
            label { display: block; }
            input[type=text],
            input[type=password] { display: block; width: 100%; }
            .form-control { margin-bottom: 15px; }
            .form-error-list { margin-bottom: 5px; padding: 10px; }
            .form-error-list ul { list-style: none; margin: 0; padding: 0; }
        </style>

        {% block css %}{% endblock %}
    </head>
    <body>
        <script type="text/x-handlebars" data-template-name="application">
            {% verbatim %}
            {{bs-notifications style="z-index: 1000; position: fixed; width: 50%; left: 0; right: 0; margin-left: auto; margin-right: auto; margin-top: 50px;"}}
            {% endverbatim %}
            <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-primary-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "index" %}">
                        {{ gitview.name }}
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-primary-collapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_active %}
                        <li><a href="#">Notifications</a></li>
                        {% endif %}
                        {% if user.is_staff %}
                        <li><a href="{% url "admin:index" %}">Admin</a></li>
                        {% endif %}
                    </ul>

                    {% if user.is_active %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url "profile:index" user.username %}">
                                {{ user.username }}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="{% url "auth:logout" %}">
                                <i class="icon-signout"></i>
                                Log out
                            </a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><div>
                                <a href="#"
                                   class="btn btn-success navbar-btn">
                                    Register
                                </a>
                        </div></li>
                        <li><div>
                                <a href="{% url "auth:login" %}"
                                   class="btn btn-primary navbar-btn">
                                    Sign in
                                </a>
                        </div></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            </nav>

            {% verbatim %}
            <div class="container">
                {{ outlet }}
            </div>
            {% endverbatim %}
        </script>

        {% compressed_js "jquery" %}
        {% compressed_js "core" %}
        {% compressed_js "auth" %}

        <script type="text/javascript">
            $(".js-relative-time").timeago();
        </script>

        {% verbatim %}
        <script type="text/x-handlebars" data-template-name="login">
            {{#view GitView.LoginFormView}}
            <label>
                Username:
            </label>

            {{ input type="text" class="form-control" valueBinding="view.username" }}

            <label>
                Password:
            </label>

            {{ input type="password" class="form-control" valueBinding="view.password" }}

            {{#bs-button type="success"}}
            Sign in
            {{/bs-button}}
            {{/view}}
        </script>

        <script type="text/x-handlebars" data-template-name="repository">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="repository-breadcrumb">
                            {{#if is_public}}
                            <span class="repository-status public">
                                <span class="repository-label">
                                    public
                                </span>
                                <i class="icon-globe"></i>
                            </span>
                            {{else}}
                            <span class="repository-status private">
                                <span class="repository-label">
                                    private
                                </span>
                                <i class="icon-lock"></i>
                            </span>
                            {{/if}}
                            {{#link-to "profile" owner class="repository-breadcrumb-owner"}}
                                {{ ownerName }}
                            {{/link-to}}
                            <span class="repository-breadcrumb-divider">
                                /
                            </span>
                            {{#link-to "repository" owner model class="repository-breadcrumb-name"}}
                                {{ name }}
                            {{/link-to}}
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs nav-justified repository-nav">
                            {{#link-to "repository" owner model tagName="li"}}
                            <a {{bindAttr href="view.href"}}>
                                <i class="icon-code"></i>
                                Files
                            </a>
                            {{/link-to}}
                            {{#link-to "repository.commits" owner model tagName="li"}}
                            <a {{bindAttr href="view.href"}}>
                                Commits
                            </a>
                            {{/link-to}}
                            {{#if has_issues}}
                            {{#link-to "repository.issues" owner model tagName="li"}}
                            <a {{bindAttr href="view.href"}}>
                                Issues
                            </a>
                            {{/link-to}}
                            {{/if}}
                            {{#link-to "repository.settings" owner model tagName="li"}}
                            <a {{bindAttr href="view.href"}}>
                                <i class="icon-cogs"></i>
                                Settings
                            </a>
                            {{/link-to}}
                        </ul>
                    </div>
                </div>

                {{ outlet content }}

            </div>
        </script>
        {% endverbatim %}

        <script type="text/javascript">
            GitView.User = {};

            {% if user.is_active %}
            GitView.User.loggedIn = true;
            {% else %}
            GitView.User.loggedIn = false;
            {% endif %}
        </script>

        {% block js %}{% endblock %}
    </body>
</html>
